body{
    background-color: #80848B;/*
    background: #000 url(Fabric-18.png) repeat scroll center top;*/
}

/*----------------------------------- soulignage des titres -------------------------------------*/
.underline
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
h3.underline{
    margin-top:0px;
}

/*-----------------------------bloc contenu de toute les pages----------------------------------*/
.contenu
{
    background-color: #F5F7FA;
    margin-top:15px;
    border:1px solid #292626;
    padding:15px;
    border-bottom:0;
    min-height:500px;
    float:left;
}
.main
{

    /*
    margin-top:15px;
    margin-bottom:15px;*/
    padding:0;
    padding-right:15px;
    border-right:1px solid #828282;
}
.title_page
{
    margin:0 0 15px 0;
    float:left;
    width:100%;
}

/*-------------------------------------Classe pour afficher un message d'erreur----------------------*/
.message_erreur
{
    text-align:center;
    width:100%;
    padding:10px 0;
    border-radius:4px;
    font-size:20px;
    background:white;
}

/*----------------------------Style pour le footer ----------------------------------------------------*/

.footer
{
    background-color: #222;
    padding:0;
    position: relative;
    border: 1px solid #292626;
    color:#9d9d9d;
    float:left;
    margin-bottom: 15px;
}
.col_footer /*bloc du footer*/
{
    width:31.3333%;
    float:left;
    padding:10px 10px 0 10px;
    margin:1%;
}
.titre
{
    border-bottom:1px solid #767676;
    margin:0 10px;
    font-size:13px;
    color:#767676;
}
.titre a
{
    color:#767676;
}
.sous_titre
{
    font-size:11px;
    margin:0 10px 0 13px;
    text-align:justify;
    color:#9d9d9d;
}
.liste_footer
{
    list-style:none;
    padding:0;
}
.content_footer
{
    margin:3px 0 3px 0;
    width:100%;
    float:left;
}
.copyright /*Bloc du copyright*/
{
    width:100%;
    float:left;
}
.copyright h4  /*Texte du bloc copyright*/
{
    margin:0 0 0 12px;
    font-size:13px;
}
.sous_titre a
{
    color:#9d9d9d;
}
.sous_titre a:hover
{
    color:#6C6C6C;
    border-bottom:1px solid #6C6C6C;
}


/*--------------------------- Barre de navigation (nombre resultat par page, pages, tri ----------------------*/
.pagination_top, .pagination_bottom
{
    float:left;
    width:100%;
    background: #dad8d8;
}
.pagination_top
{
    margin-bottom:30px;
}
.pagination_left, .pagination_right
{
    padding:5px 5px;
}
.pagination_left
{
    float:left;
}
.pagination_right
{
    float:right;
}

.trie, .ordre, .valider, .ordre label, .ordre select, .trie label, .trie select, .num_by_page, .num_page_left, .num_page_right
{
    float:left;
    margin:0 2px;
    padding:0;
}
.num_by_page, .num_page_left, .num_page_right
{
    font-weight: 700;
}
.ordre
{
    margin:0 10px;
}
.valider
{
    padding:0 5px;
}
.pagination_top input[type=submit]
{
    -webkit-appearance: push-button;
}
.num_page
{
    float:left;
    padding:0 5px;
    margin:auto 2px;
    border:1px solid #b2b2b2;
    background-color: #e9e9e9;
    width:28px;
    text-align: center;
    color: #333;
}
.num_page_left
{
    margin-right:10px;
}
.num_page_right
{
    margin-left:10px;
}

.num_page:hover
{
    border:1px solid #940b13;
    color: #940b13;
}
.page_curent, .page_curent:hover
{
    color: #940b13;
    border:1px solid #940b13;
    background-color: #e9e9e9;
}
.num_page span
{
    color:inherit;
    top: 2px;
    font-weight: 700;
    line-height: normal;
    display: inline;
}

/*------------------------------- header Machiavel Fantasy -------------------------------------------*/
.page-header
{
    padding:20px 0px 29px 0;
    margin:0px;
    border:0px;
    width: 83.33333333%;
    margin-left: 8.33333333%;

}


/*---------------------------------- police et style du header Machiavel Fantasy --------------------------*/
.machiavel
{
    font-family:machiavel;
    font-size:60px;
    text-decoration: none;
    margin-left:40px;
}
.machiavel a
{
    color: #333;
    text-decoration: none;
}
/*---------------------------------------- police de Machiavel Fantasy -----------------------------------*/
@font-face {
    font-family: 'machiavel';
    src: url('fonts/deutsch-webfont.eot');
    src: url('fonts/deutsch-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/deutsch-webfont.woff2') format('woff2'),
    url('fonts/deutsch-webfont.woff') format('woff'),
    url('fonts/deutsch-webfont.ttf') format('truetype'),
    url('fonts/deutsch-webfont.svg#deutsch_gothicnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------------ carousel ------------------------------------------*/
.carousel-inner
{
    border-bottom:1px solid #080808;
}

/*-------------------------------------- Style édit_actulité --------------------------------------------*/

/*---------------------------------------- barre de menu ------------------------------------------------*/
nav.navbar.navbar-inverse
{
    margin-bottom: 0;
    border-radius: 0;
    border-left:0;
    border-right:0;
}


/*--------------------------------- liste_jeu.html -------------------------------------*/
.liste_jeu
{
    border:1px solid #717479;
    border-radius:4px;
    background-color: #E8EAEC;
    margin-bottom: 30px;
}
.liste_jeu div
{
    padding:0px;
}
.liste_jeu img
{
    border-right: 1px solid #717479;
    width: 100%;
}
.liste_jeu h4
{
    border-bottom:1px solid #717479;
    padding:10px ;
    margin:0;
}
.liste_jeu p
{
    padding:10px 15px;
    margin:0;
}


/*-----------------------------------Style de la page d'accueil----------------------------------------*/
.lien_accueil /*image de font pour chaque bloc d'article*/
{
    width:100%;
    float:left;
    background-color:rgb(168, 168, 168);
}

.lien_accueil img
{
    max-width:100%;
}
div.tbl1
{
    display: inline-block;
}

div.image  /*Position est style de l'image et la zone de text*/
{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    border: 1px solid #737373;
    margin:0px;
}

a.desc /*Parametre de la zone de texte flotante*/
{
    width: 100%;
    height: 50px;
    position: absolute;
    color:rgba(255, 255, 255, 0.5);
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 14px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding:5px 15px;
}
a.desc:hover
{
    background-color:rgba(0, 0, 0, 0.9);
    color:rgba(255, 255, 255, 0.9);
}
div.image.boxFULL a /*1) Dimension zone de txt et 2) Afficher ou pas la zone text */
{
    height: 110px;
    bottom: -80px;
}
div.image.boxFULL:hover a /*Mouvement de la zone de txt*/
{
    bottom: 0px;

}
.image_accueil
{
    text-align:center;
    margin:0px;
}
.bloc_accueil  /*largeur de chaque bloc*/
{
    width:25%;
    float:left;
}
.espace_accueil /*espace entre les blocs d'article*/
{
    padding:3px;
}


/*-----------------------Page description.html-----------------------*/
.text_description /*Suppression de la marge et justification du text*/
{
    text-align:justify;
}
.titre_description
{
    text-align:center;
    margin-top:10px;
    padding-top:10px;
    border-top: 1px solid #ddd;
}
.espace_description/* Espace entre chaque bloc*/
{
    padding:10px;
    float:left;
}

.espace_description a
{
    margin:0px;
    text-decoration:none;
    color: #333;
}

/*-------------------- Page connexion.html ----------------------------*/
.membre
{
    padding:20px;
    margin:0;
    /*height:330px;*/
}
.inscrire
{
    padding:0px;
    margin-top:15px;
}
.connexion_left
{
    padding-left:0px;
    padding-right: 7.5px;
}
.connexion_right
{
    padding-right: 0px;
    padding-left: 7.5px;
}

/*------------------------------ calendrier --------------------------*/
/* Feuille de style pour Calendrier */
table.cal { cursor:default;font-size:17px; background:#868400; border: 2px solid #2A2A2A;/*margin-top:15px;*/ }
/* la case contenant le nom du mois */
.cal td.cal_titre { font-weight:bold; }
/* les cases des jours de la semaine */
.cal th { text-align:center; background: #2D2D2D; color:#DAE2FF; }
/* les autres cases */
.cal td { text-align:center; background: #E5E5E5; border: 1px solid rgb(187, 187, 187); margin:0px; padding:0px; }
/* la case correspondant à aujourd'hui */
.cal td.today { border:2px solid rgb(126, 126, 126); margin:0; padding:-2px; }

/* les cases avec un lien */
.cal td a
{
    color: #cacaca;
    background: #353535;
    display:block;
    text-decoration:none;
    font-weight:bold;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.cal td a:hover
{
    background: rgb(115, 115, 115);
}
/* un premier style */
.cal .st1{ /*font-weight:bold;*/ background: rgb(53, 53, 53); }
/* un second style */
.cal .st2 { font-weight:bold; color:Purple; }
/*fleches*/
#fleche_gauche
{
    left: 1px;
}
#fleche_droite
{
    right: 1px;
}
#fleche_gauche:hover
{
    color: #9d9d9d;
}
#fleche_droite:hover
{
    color: #9d9d9d;
}
#fleche_droite,#fleche_gauche
{
    cursor: pointer;
    position: absolute;
    top: 5px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#panel_cal
{
    min-width: 175px;
}

#de
{
    border-radius: 5px;
}

/*------------------------------ select bootstrap -----------------*/
.bootstrap-select
{
    min-width:75px;
}
.selectpicker
{
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

#captcha
{
    height:44px;
    text-align: center;
}
#captcha_image
{
    cursor: pointer;
}
.star_form
{
    color: red;
}

/*modif css pages de jeux*/
.media-left-mod{
    padding-bottom: 15px;
    padding-left: 10px;
}
.media-mod{
    padding:0;
}
.media-img-left{
    padding-right: 10px;
}
.media-img-right{
    padding-left: 10px;
}
.img-responsive
{
    margin: auto;
}

/*-------------------------- Page edit actu --------------------------*/
/*datepicker*/
div.ui-datepicker{
    font-size:12px;
}

/*select date*/
.time{
    display:inline-block;
    width:10%;
}

.image_edit
{
    float:left;
    width:40%;

}
.preview
{
    overflow: hidden;
    float: none;

    margin-left: auto;
    margin-right: auto;
}
#pre_form
{
    height: 289px;
    max-width: 289px;
}
#pre_form img
{
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}



.content_edit
{
    float: left;
    width:60%;
}

.title_edit
{
    float: left;
    width: 100%;
}

.partie_particip
{
    margin-top:15px;
    float: left;
    width: 100%;
}

.partie
{
    float:left;
    width:75%;
    padding-right:10px;
}
.particip
{
    float: left;
    width:25%;
}

/*empecher ecrire dans input*/
#inputdate
{
    cursor: pointer;
    background-color: #ffffff;
    transition: all .2s ease-in;
}
#inputdate:focus
{
    background-color: #f2f2f2;
    color: #000000;
}

.date_edit
{
    float:left;
    width:100%;
    margin-top:15px;
}

.date_edit_title
{
    float:left;
    width:100%;
}

.edit_date
{
    float:left;
    width:50%;
}

.time_edit
{
    float:left;
    width:25%;
}

.time_edit div
{
    float:left;
    width:10%;
    text-align: center;
}

.time_edit select
{
    float:left;
    width:90%;
}
.name_image
{
    margin-top:15px;
    float: left;
    width: 100%;
}
/*------------------------------------Style de la page actualité -------------------------*/

/*--------------Bloc global de l'événement-------------------*/
.edit_event
{
    float:right;
    font-size: 14px;
    margin-right:18.5px;
    margin-top:18.5px;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 2px;
    border: 1px solid transparent;
}
.title_page a
{
    text-decoration:none;
}

.event
{
    width:100%;
    background-color:#f0f4fd;
    float:left;
    margin-bottom:30px;
    border: 2px solid #e5e5e5;
    box-shadow:6px 6px 6px #ababab;
}

/*---------------Image de l'événement------------------*/
.image_event
{
    float:left;
    width:20%;
}

/*-----------------Contenu de l'événement--------------*/
.content_event
{
    float:left;
    padding:10px;
    width:55%;
}
.title_event
{
    float:left;
    width:100%;
    font-size:20px;
}
.text_event
{
    float:left;
    margin-top:15px;
    width:100%;
    text-align: justify;
}

/*-----------------Bloc d'info sur l'événement----------------------*/
.info_event
{
    float:left;
    width:25%;
    padding:10px;
    border-left: 1px solid #c8c5cc;
}
.text_info
{
     float:left;
     margin-top:10px;
     width:100%;
}
.text_info em small /*Style pour la date de mise à jour*/
{
    float:right;
    margin-right:10px;
}
.particip_event
{
    float:left;
    width:100%;
    padding:0 10px;
}
.particip_event a
{
    float:right;
}
.text_info ul
{
    position:relative;/*pour scroll bar*/
    overflow:auto;
    width:100%;
    max-height: 150px;
    /*float:left;*/
    border:3px solid #cccaca;
    list-style:none;
    padding:0 5px;
    margin:0;
}
.text_info ul li
{
    margin:5px 0;
    border:1px solid #8a8a8a;
}
.text_info ul li a
{
    text-decoration: none;
    width:100%;
}



/************************menu profil********************/
#drop_compte
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#avatarMenu
{
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
}
#compteMenu
{
    display: inline-block;
    margin-bottom: 0;
}
#caretCompte
{
    display: inline;
}