body
{
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    color: #536482;
    background: #DBD7D1;
    margin: 10px 15px;
}

h1
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.70em;
    font-weight: normal;
    color: #333333;
    margin:0;
}

p
{
    margin-bottom: 0.7em;
    line-height: 1.40em;
    font-size: 0.90em;
}
hr
{
    border: 0 none;
    border-top: 1px dashed #999999;
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: 1px;
    width:100%;
}
fieldset {
    margin: 15px 0;
    padding: 10px;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #D7D7D7;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 3px;
}

a:link, a:visited {
    color: #105289;
    text-decoration: none;
}

a:hover
{
    color: #c30001;
}

#content:after, #acp:after, #tabs:after
{
    content: '';
    clear: both;
    display: block;
}

div
{
    font-size: small;
}

/*-------------- Message de succés -------------------*/
.successbox, .errorbox
{
    padding: 8px;
    margin: 10px 0 ;
    color: #FFFFFF;
    text-align: center;
    clear: both;
}
.successbox p, .errorbox p {
    color: #FFFFFF;
    font-size: 0.85em;
    margin-bottom: 0;
}

.errorbox
{
    background-color: #BC2A4D;
}
/*---------------- Barre de menu ---------------------*/

#tabs .tabs {
    display: inline-block;
    float: left;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 14px;
}

#tabs
{
    float: left;

    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    margin: 0 7px;
    position: relative;
    padding:0;
    z-index: 2;
    text-transform: uppercase;
}

#tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs
{
    border-radius: 5px 5px 0 0;
    margin-right:1px;
    border: 1px solid #BBB;
    border-bottom: 1px solid #999999;
    background: #D4D6DA;
    background: -moz-linear-gradient(top, #CACBCF 0%, #D4D6DA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CACBCF), color-stop(100%, #D4D6DA));
    background: -webkit-linear-gradient(top, #CACBCF 0%, #D4D6DA 100%);
    background: -o-linear-gradient(top, #CACBCF 0%, #D4D6DA 100%);
    background: -ms-linear-gradient(top, #CACBCF 0%, #D4D6DA 100%);
    background: linear-gradient(to bottom, #CACBCF 0%, #D4D6DA 100%);
}

.tabs:hover
{
    background: #e7e9ed;
    background: -moz-linear-gradient(top, #e4e5e9 0%, #e7e9ed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e5e9), color-stop(100%, #e7e9ed));
    background: -webkit-linear-gradient(top, #e4e5e9 0%, #e7e9ed 100%);
    background: -o-linear-gradient(top, #e4e5e9 0%, #e7e9ed 100%);
    background: -ms-linear-gradient(top, #e4e5e9 0%, #e3e5e9 100%);
    background: linear-gradient(to bottom, #e4e5e9 0%, #e7e9ed 100%);
}
.tabs a
{
    text-decoration: none;
    color: #767676;
    padding: 6px 9px 4px;
    float:left;
}
.tabs a:hover
{
    color: #c30001;
}
.activetab, .activetab:hover
{
    border: 1px #999999 solid;
    border-bottom:1px #DCDEE2 solid;
    background: #DCDEE2;
    background: -moz-linear-gradient(top, #F2F2F2 0%, #DCDEE2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2F2F2), color-stop(100%, #DCDEE2));
    background: -webkit-linear-gradient(top, #F2F2F2 0%, #DCDEE2 100%);
    background: -o-linear-gradient(top, #F2F2F2 0%, #DCDEE2 100%);
    background: -ms-linear-gradient(top, #F2F2F2 0%, #DCDEE2 100%);
    background: linear-gradient(to bottom, #F2F2F2 0%, #DCDEE2 100%);
    background: linear-gradient(to bottom, #F2F2F2 0%, #DCDEE2 100%);
}

.activetab a, .activetab a:hover
{
    color: #23649F;
}
/*--------------------------------------------------------------------*/

/*--------------------- Menu de gauche --------------------*/
#menu
{
    float: left;
    width: 200px;
    font-size: 1.00em;
    padding: 0;
    border-right: 1px solid #CCCFD3;
    position: relative;
    z-index: 1;
}

#menu p
{
    font-size: 0.85em;
    line-height: 1.40em;
}

.menu-block
{

}

#menu .header
{
    font-family: Tahoma, Helvetica, sans-serif;
    display: block;
    font-weight: bold;
    color: #115098;
    border-bottom: 1px solid #327AA5;
    padding: 4px 0 2px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
    cursor: inherit;
    outline-style: none;

}

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    word-wrap: normal;
}

#menu li
{
    padding: 0;
    margin: 0;
    font-size: 0.85em;
    font-weight: bold;
    display: block;
}

#menu li a:hover
{
    text-decoration: none;
}

#menu li span
{
    display: block;
    padding: 3px 3px 3px 8px;
    margin: 1px 0;
    text-decoration: none;
    font-weight: normal;
    color: #138ECB;
}

#menu li span:hover
{
    text-decoration: none;
    font-weight: normal;
    color: #c30001;
    background-color: #f4e4eb;
}

#menu li#activemenu a span {
    text-decoration: none;
    font-weight: bold;
    color: #1180B7;
    background: transparent url("../admin/images/arrow_right.gif") 0% 50% no-repeat;
}

#menu li#activemenu a span:hover {
    text-decoration: none;
    color: #c30001;
    background: transparent url("../admin/images/arrow_right.gif") 1% 50% no-repeat;
    background-color: #f4e4eb;
}

#acp
{
    position: relative;
    top: -1px;
    float:left;
    margin: 0 0 2px;
    padding: 3px 1px;
    width: 100%;
    background: #DCDEE2 repeat-x top;
    border: 1px #999999 solid;
    border-radius: 5px;
}

#content
{
    width:100%;
    float:left;
    padding: 30px 10px 10px;
    position: relative;

}

#content h1
{
    color: #115098;
    line-height: 1.2em;
    margin-bottom: 0;
}

#main
{
    float: right;
    width: 100%;
    margin: 0 0 0 -210px;
}

.main
{
    margin-left: 210px;
}

/*------------------- Maintenance -----------------------------*/
/*.table1>tbody>tr>td
{
    vertical-align: middle;
}*/
.table1 tr td img
{
    border-radius: 2px;
}
.panel
{
    margin-bottom:0;
}
table {
    width: 100%;
    border: 1px solid #CCCFD3;
    background-color: #FFFFFF;
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 0px;
    padding: 1px;
}
th {
    padding: 3px 4px;
    color: #FFFFFF;
    background: #70AED3 url("../admin/images/gradient2b.gif") bottom left repeat-x;
    border-top: 1px solid #6DACD2;
    border-bottom: 1px solid #327AA5;
    text-align: left;
    font-size: 0.75em;
    text-transform: uppercase;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    text-align: left;
    font-size: 0.85em;
    padding: 4px;
    line-height: 1.20em;
}
table.table1 tbody tr:nth-child(odd) {
    background-color: #DCEBFE;
}
table.table1 tbody tr:nth-child(even) {
    background-color: #F9F9F9;
}

/*------------------- style pour les fichiers view.html, tri.html, search.html et page.html  -----------------------*/
.pagination_top, .pagination_bottom
{
    float:left;
    width:100%;
}
.pagination_top
{
    margin-top:15px;
}
.pagination_left, .pagination_right
{
    background-color: transparent;
    position: relative;
    border: none;
    margin: 0;
    padding: 5px 0;
}
.pagination_left
{
    float:left;
}
.pagination_right
{
    float:right;
}

.trie, .ordre, .valider, .ordre label, .ordre select, .trie label, .trie select, .num_by_page, .num_page_left, .num_page_right
{
    float:left;
    /*margin:0 2px;*/
    padding:0;
    font-size:10px;
}
.num_by_page, .num_page_left, .num_page_right
{
    font-weight: 700;
}
.ordre
{
    margin:0 10px;
}
.valider
{
    padding:0 5px;
}
.pagination_top input[type=submit]
{
    -webkit-appearance: push-button;
}
.num_page
{
    float:left;
    /*padding:0 5px;*/
    margin:auto 1px;
    border:1px solid #b2b2b2;
    background-color: #e9e9e9;
    width:16px;
    text-align: center;
    font-size:10px;
}
.num_page_left
{
    margin-right:5px;
}
.num_page_right
{
    margin-left:5px;
}

.num_page:hover
{
    border:1px solid #940b13;
    color: #940b13;
}
.page_curent, .page_curent:hover
{
    color: #940b13;
    border:1px solid #940b13;
    background-color: #e9e9e9;
}
.num_page span
{
    color:inherit;
    top: 1px;
    line-height: normal;
    display: inline;
}
input[type=checkbox], input[type=radio] {
    margin: 0;
}

fieldset.quick, p.quick
{
    margin: 0 0 5px;
    padding: 5px 0 0;
    border: none;
    background-color: transparent;
    text-align: right;
}
/*
.search-box {
    float: left;
}
fieldset.display-options {
    margin:2px 0;
    padding: 0 0 4px 0;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 0.85em;
}*/

input .button2, textarea {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.90em;
    font-weight: normal;
    vertical-align: middle;
    padding: 2px;
    color: #111111;
    border-left: 1px solid #AFAEAA;
    border-top: 1px solid #AFAEAA;
    border-right: 1px solid #D5D5C8;
    border-bottom: 1px solid #D5D5C8;
    background-color: #E3DFD8;
}/*
fieldset.display-options input, fieldset.display-options label {
    font-size: 1.00em;
    vertical-align: middle;
}*/
a.button2, input.button2 {
    border: 1px solid #666666;
}
input.button2 {
    width: auto !important;
    padding: 1px 3px 0 3px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 0.85em;
    background: #EFEFEF url("../admin/images/bg_button.gif") repeat-x top;
    cursor: pointer;
}
input.button2:hover
{
    color: #AA0000;
    border-color:#AA0000;
}
input[type=submit]:focus{
    border: 1px solid #BC2A4D;
    background-color: #E9E9E2;
    color: #BC2A4D;
    outline-style: none;
}

/**********************cropper edition image************/
.preview
{
    overflow: hidden;
    float: none;
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
#pre_crop
{
    height: 235px;
    width: 176px;
}

#pre_form
{
    height: 200px;
    width: 150px;
}
